.titre{
  color: #00b39b;
}

.container { 
  overflow: hidden; 
}
.Potato{
  color: #00b39b;
}
.Color-1{
  color:  #00b39b;
}
.Color-2{
  color: #747474;
}
.Card-2{
  background-color: #def7f5;
}
.card-body{
  width: 100%;
}
.jumbotron{
  background-color: aliceblue;
  width: 30%
}
.Title-2{
  color: #00b39b ; 
}
.Parag-2{
  color: #747474;
}
.Footer{
  color: #747474;
  
}